.img-upl
  img.avatar
    width: 50px
    height: 50px
  img.upload-image
    cursor pointer
  .img-upl-modal
    display: none
  .modal-content
    input#image-upload
      display: none
  .modal-body
    text-align: center
    img.loading
      width: 30px
    .list-view
      div.items
        max-height: 500px
        overflow auto
        text-align: center
        span.image-item
          display: inline-block
          padding: 10px
      div.pagin
        text-align: center